{{>layout/header}}

<h1>명함 수정</h1>

<div class="col-md-12">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="title">ID</label>
                <input type="text" class="form-control" id="id" value="{{business-card.id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title">회사명</label>
                <input type="text" class="form-control" id="company" value="{{business-card.company}}">
            </div>
            <div class="form-group">
                <label for="author"> 이름 </label>
                <input type="text" class="form-control" id="name" value="{{business-card.name}}">
            </div>
            <div class="form-group">
                <label for="content"> 직책 </label>
                <textarea class="form-control" id="role">{{business-card.role}}</textarea>
            </div>
            <div class="form-group">
                <label for="content"> TEL </label>
                <textarea class="form-control" id="tel">{{business-card.tel}}</textarea>
            </div>
            <div class="form-group">
                <label for="content"> Email </label>
                <textarea class="form-control" id="email">{{business-card.email}}</textarea>
            </div>
        </form>
        <a href="/" role="button" class="btn btn-secondary">취소</a>
        <button type="button" class="btn btn-primary" id="btn-update">수정 완료</button>
        <button type="button" class="btn btn-danger" id="btn-delete">삭제</button>
    </div>
</div>
{{>layout/footer}}