<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div>
            <form  class="form-inline">
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="content"/>
                </div>
                <div class="form-group mx-sm-1 mb-2">
                    <select name="searchType" id="search">
                        <option value="company" id="company">회사</option>
                        <option value="name" id="name">성함</option>
                        <option value="tel" id="tel">전화번호</option>
                        <option value="email" id="email">이메일</option>
                    </select>
                </div>
                <a><button type="button" class="btn btn-primary mb-2" id="btn-find">검색</button></a>
                <a><button type="button" class="btn btn-primary mb-2" id="btn-register">register</button></a>
            </form>
        </div>
        <table class="table table-striped" id ="result">
            <thead>
            <tr>
                <th>선택</th>
                <th>ID</th>
                <th>회사명</th>
                <th>성함</th>
                <th>직함</th>
                <th>TEL</th>
                <th>Email</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="tbr">
            <tr id="irr">
<!--                <td th:text="${item.id}"></td>-->
<!--                <td th:text="${item.company}"></td>-->
<!--                <td th:text="${item.name}"></td>-->
<!--                <td th:text="${item.role}"></td>-->
<!--                <td th:text="${item.tel}"></td>-->
<!--                <td th:text="${item.email}"></td>-->
<!--                <td th:text="${item.uploadTime}"></td>-->
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
<script src="/js/app/index.js"></script>
</html>
