{{>layout/header}}

<h1>명함 등록</h1>
<div class="col-md-12">
    <div class="row">
        <div class="col-md-4">
            <form>
                <div class="form-group">
                    <label for="company">회사명</label>
                    <input type="text" class="form-control" id="company" placeholder="제목을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="name"> 이름 </label>
                    <input type="text" class="form-control" id="name" placeholder="이름을 입력하세요">
                </div>
                <div class="form-group">
                    <label for="tell"> 연락처 </label>
                    <textarea class="form-control" id="tell" placeholder="연락처를 입력하세요"></textarea>
                </div>
                <div class="form-group">
                    <label for="role"> 직책 </label>
                    <textarea class="form-control" id="role" placeholder="직책을 입력하세요"></textarea>
                </div>
                <div class="form-group">
                    <label for="email"> 이메일 </label>
                    <textarea class="form-control" id="email" placeholder="이메일를 입력하세요"></textarea>
                </div>
            </form>
            <a href="/" role="button" class="btn btn-secondary">취소</a>
            <button type="button" class="btn btn-primary" id="btn-save">등록</button>
        </div>
    </div>
</div>
{{>layout/footer}}