{{>layout/header}}
<h1>심플 명함관리 서비스</h1>

<div class="col-md-12">
    <h1>HELLO SHOP</h1>
    <p class="col-md-12">회원 기능</p>
    <p>
        <a class="btn btn-lg btn-secondary" href="/members/new">내명함관리</a>
        <a class="btn btn-lg btn-secondary" href="/members">명함검색</a>
    </p>
    <p class="lead">상품 기능</p>
    <p>
        <a class="btn btn-lg btn-dark" href="/items/new">상품 등록</a>
        <a class="btn btn-lg btn-dark" href="/items">상품 목록</a>
    </p>
    <p class="lead">주문 기능</p>
    <p>
        <a class="btn btn-lg btn-info" href="/order">상품 주문</a>
        <a class="btn btn-lg btn-info" href="/orders">주문 내역</a>
    </p>
</div>
{{>layout/footer}}
